<ng-form name="environmentVariables" novalidate>
  <div class="container-fluid form-horizontal" ng-controller="dcosServerGroupEnvironmentVariablesController as environmentVariableController">
    <div class="form-group">
      <h5 class="col-sm-12">
        Set variables for each task your service launches. You can also use variables to expose Secrets.
        <a href="https://mesosphere.github.io/marathon/docs/task-environment-vars.html">
              Learn more about variables.
          </a>
      </h5>
      <table class="table table-condensed packed">
        <tbody>
          <tr ng-repeat="environmentVariable in command.viewModel.env">
            <td>
              <div class="form-group">
                <div class="col-md-1 sm-label-right">
                  Name
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control input-sm highlight-pristine" name="varName_{{$index}}" ng-model="environmentVariable.name" validate-unique="environmentVariable.checkUnique" required/>
                  <div class="error-message" ng-if="form.$error.validateUnique">Duplicate key</div>
                  <div class="error-message" ng-if="environmentVariables['varName_' + $index].$error.required">Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-1 sm-label-right">
                  Value
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control input-sm" name="varValue" ng-change="environmentVariableController.updateValue($index)" ng-model="environmentVariable.rawValue" />
                </div>
              </div>
              <div class="col-md-12 sm-label-right">
                <a class="btn btn-link sm-label" ng-click="environmentVariableController.removeEnvironmentVariable($index)">
                  <span class="glyphicon glyphicon-trash"></span> Remove Environment Variable
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="1">
              <button class="add-new col-md-12" ng-click="environmentVariableController.addEnvironmentVariable()">
                <span class="glyphicon glyphicon-plus-sign"></span> Add Another Environment Variable
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</ng-form>
