<ng-form name="vaultSecrets" novalidate>
  <div class="container-fluid form-horizontal" ng-controller="dcosServerGroupVaultSecretsController as vaultSecretsController">
    <div class="form-group">
      <h5 class="col-sm-12">
        Set Vault secrets for your service's tasks.
        <a href="https://www.vaultproject.io">
          Learn more about Vault secrets.
          </a>
        </tb>
        <div class="form-group">
          <div class="col-md-6 sm-label-right">
            Manage Secrets with Vault and Vaultkeeper
            <help-field key="dcos.serverGroup.vaultSecrets.useVaultkeeper"></help-field>
            <input type="checkbox" name="useVault" ng-model="vault.useVault" />
          </div>
      </div>
      </h5>
      <div class="form-group" ng-show="vault.useVault">
        <table class="table table-condensed packed">
          <thead>
            <tr>
              <th style="width: 100%">Vaultkeeper Configuration
                <help-field key="dcos.serverGroup.vaultSecrets.vaultkeeperConfiguration"></help-field>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <div class="col-md-3 sm-label-right">
                    Application Entrypoint
                    <help-field key="dcos.serverGroup.vaultSecrets.applicationEntrypoint"></help-field>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="entrypoint" ng-model="vaultkeeper.entrypoint" required/>
                    <div class="error-message" ng-if="vaultSecrets['entrypoint'].$error.required">Application entrypoint command is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 sm-label-right">
                    Secrets Output Path
                    <help-field key="dcos.serverGroup.vaultSecrets.outputPath"></help-field>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="outputPath" ng-init="vaultkeeper.outputPath='/creds/creds.json'" ng-model="vaultkeeper.outputPath"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 sm-label-right">
                    Refresh Interval
                    <help-field key="dcos.serverGroup.vaultSecrets.refreshInterval"></help-field>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="refreshInterval" ng-init="vaultkeeper.refreshInterval=30" ng-model="vaultkeeper.refreshInterval"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 sm-label-right">
                    Lease Increment
                    <help-field key="dcos.serverGroup.vaultSecrets.leaseIncrement"></help-field>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="leaseIncrement" ng-init="vaultkeeper.leaseIncrement=40" ng-model="vaultkeeper.leaseIncrement"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 sm-label-right">
                    Renewal Grace
                    <help-field key="dcos.serverGroup.vaultSecrets.renewalGrace"></help-field>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="renewalGrace" ng-init="vaultkeeper.renewalGrace=15" ng-model="vaultkeeper.renewalGrace"
                    />
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      <table class="table table-condensed packed">
        <thead>
          <tr>
            <th style="width: 100%">Vault Configuration
              <help-field key="dcos.serverGroup.vaultSecrets.vaultConfiguration"></help-field>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-group">
                <div class="col-md-3 sm-label-right">
                  Vault Address
                  <help-field key="dcos.serverGroup.vaultSecrets.vaultAddress"></help-field>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control input-sm" name="vaultAddress" ng-model="vault.vaultAddress" required/>
                  <div class="error-message" ng-if="vaultSecrets['vaultAddress'].$error.required">Vault address is required</div>
                </div>
                <div class="col-md-10 sm-label-right">
                  Add Docker Host
                  <help-field key="dcos.serverGroup.vaultSecrets.addVaultDockerHost"></help-field>
                  <input type="checkbox" name="addVaultDockerHost" ng-model="vault.addVaultDockerHost" ng-click="vault.addVaultDockerHost()"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3 sm-label-right">
                  Gatekeeper Address
                  <help-field key="dcos.serverGroup.vaultSecrets.gatekeeperAddress"></help-field>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control input-sm" name="gatekeeperAddress" ng-model="vault.gatekeeperAddress" required/>
                  <div class="error-message" ng-if="vaultSecrets['gatekeeperAddress'].$error.required">Gatekeeper address is required</div>
                </div>
                <div class="col-md-10 sm-label-right">
                  Add Docker Host
                  <help-field key="dcos.serverGroup.vaultSecrets.addGatekeeperDockerHost"></help-field>
                  <input type="checkbox" name="addGatekeeperDockerHost" ng-model="vault.addGatekeeperDockerHost" ng-click="vault.addGatekeeperDockerHost()"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3 sm-label-right">
                  Application Credential Path
                  <help-field key="dcos.serverGroup.vaultSecrets.credentialPath"></help-field>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control input-sm" name="credentialPath" ng-model="vault.credentialPath" required/>
                  <div class="error-message" ng-if="vaultSecrets['credentialPath'].$error.required">Application credential path is required</div>
                </div>
                <div class="col-md-10 sm-label-right">
                  Same as Secrets Output Path
                  <help-field key="dcos.serverGroup.vaultSecrets.setSecretsOutput"></help-field>
                  <input type="checkbox" name="setSecretOutputPath" ng-model="vault.setSecretOutputPath" ng-click="vault.setSecretsOutputPath()"
                  />
                </div>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-condensed packed">
      <thead>
        <tr>
          <th style="width: 100%">Secrets</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="secret in command.viewModel.secrets">
          <td>
            <div class="form-group">
              <div class="col-md-3 sm-label-right">
                Name
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control input-sm highlight-pristine" name="varName_{{$index}}" ng-model="secret.name" validate-unique="secret.checkUnique"
                  required/>
                <div class="error-message" ng-if="form.$error.validateUnique">Duplicate key</div>
                <div class="error-message" ng-if="vaultSecrets['varName_' + $index].$error.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 sm-label-right">
                Backend
                <help-field key="dcos.serverGroup.vaultSecrets.backend"></help-field>
              </div>
              <div class="col-md-6">
                <ui-select name="varBackend_{{$index}}" ng-model="secret.backend" search-enabled="true" on-select="vaultSecretsController.getPolicies($index)"
                  class="form-control input-sm highlight-pristine" required/>
                <div class="error-message" ng-if="vaultSecrets['varBackend_' + $index].$error.required">Backend is required</div>
                <ui-select-match title="{{$select.selected}}">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="backend in command.viewModel.backendsList | filter: $select.search">
                  <span ng-bind-html="backend | highlight: $select.search"></span>
                </ui-select-choices>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 sm-label-right">
                Policy
                <help-field key="dcos.serverGroup.vaultSecrets.policy"></help-field>
              </div>
              <div class="col-md-6">
                <ui-select name="varPolicy_{{$index}}" ng-model="secret.policy" search-enabled="true" on-select="vaultSecretsController.updatePolicy($index)"
                  class="form-control input-sm highlight-pristine" required/>
                <div class="error-message" ng-if="vaultSecrets['varPolicy_' + $index].$error.required">Policy is required</div>
                <ui-select-match title="{{$select.selected}}">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="policy in command.viewModel.secrets.policies | filter: $select.search">
                  <span ng-bind-html="policy | highlight: $select.search"></span>
                </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group" ng-show="secret.requiresSetRole">
              <div class="col-md-3 sm-label-right">
                Postgres SetRole Role
                <help-field key="dcos.serverGroup.vaultSecrets.setRole"></help-field>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control input-sm highlight-pristine" name="varSetRole_{{$index}}" ng-model="secret.setRole"
                  ng-required="secret.requiresSetRole" />
                <div class="error-message" ng-if="vaultSecret['varSetRole_' + $index].$valid">PostgreSQL Vault secrets must have a SetRole role specified</div>
              </div>
            </div>
            <div class="col-md-12 sm-label-right">
              <a class="btn btn-link sm-label" ng-click="vaultSecretsController.removeSecret($index)">
                <span class="glyphicon glyphicon-trash"></span> Remove Secret
              </a>
            </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="1">
              <button class="add-new col-md-12" ng-click="vaultSecretsController.addSecret()">
                <span class="glyphicon glyphicon-plus-sign"></span> Add Another Secret
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
  </div>
  </div>
  </div> 
</ng-form>