<div class="form-horizontal">
  <div class="form-group" ng-if="displayField('waitForCompletion')">
    <div class="col-md-8 col-md-offset-1">
      <div class="checkbox pull-left">
        <stage-config-field label="stage.url">
        </stage-config-field>
        <stage-config-field label="stage.payload">
        </stage-config-field>
        <label>
          <input type="checkbox"
                 name="waitForCompletion"
                 ng-model="viewState.waitForCompletion"
                 ng-change="waitForCompletionChanged()"/>
          <strong>Wait for completion</strong>
          <help-field key="pipeline.config.webhook.waitForCompletion"></help-field>
        </label>
      </div>
    </div>
  </div>
  <div ng-class="{collapse: viewState.waitForCompletion !== true, 'collapse.in': !viewState.waitForCompletion === true}">
    <div class="form-group" ng-if="displayField('statusUrlResolution')">
      <div class="col-md-3 sm-label-right">Status URL</div>
      <div class="col-md-9 radio">
        <label>
          <input type="radio"
                 ng-model="viewState.statusUrlResolution"
                 ng-change="statusUrlResolutionChanged()"
                 value="getMethod"
                 id="statusUrlResolutionIsGetMethod"/>
          GET method against Gatekeeper URL
          <help-field key="pipeline.config.webhook.statusUrlResolutionIsGetMethod"></help-field>
        </label>
      </div>
      <div class="col-md-9 col-md-offset-3 radio">
        <label>
          <input type="radio"
                 ng-model="viewState.statusUrlResolution"
                 ng-change="statusUrlResolutionChanged()"
                 value="locationHeader"
                 id="statusUrlResolutionIsLocationHeader"/>
          From the Location header
          <help-field key="pipeline.config.webhook.statusUrlResolutionIsLocationHeader"></help-field>
        </label>
      </div>
      <div class="col-md-9 col-md-offset-3 radio">
        <label>
          <input type="radio"
                 ng-model="viewState.statusUrlResolution"
                 ng-change="statusUrlResolutionChanged()"
                 value="webhookResponse"
                 id="statusUrlResolutionIsWebhookResponse"/>
          From webhook's response
          <help-field key="pipeline.config.webhook.useStatusUrlFromLocationHeaderFalse"></help-field>
        </label>
      </div>
      <div class="form-group" ng-if="viewState.statusUrlResolution === 'webhookResponse' && displayField('statusUrlJsonPath')">
        <div class="col-md-offset-3">
          <stage-config-field label="Status URL path" help-key="pipeline.config.webhook.statusUrlJsonPath">
            <input type="text"
                   class="form-control input-sm"
                   ng-model="stage.statusUrlJsonPath"
                   required/>
          </stage-config-field>
        </div>
      </div>
    </div>
    <stage-config-field label="Status JsonPath"
                        help-key="pipeline.config.webhook.statusJsonPath"
                        ng-if="displayField('statusJsonPath')">
      <input type="text"
             class="form-control input-sm"
             ng-model="stage.statusJsonPath"/>
    </stage-config-field>
    <stage-config-field label="Progress location"
                        help-key="pipeline.config.webhook.progressJsonPath"
                        ng-if="displayField('progressJsonPath')">
      <input type="text"
             class="form-control input-sm"
             ng-model="stage.progressJsonPath"/>
    </stage-config-field>
    <stage-config-field label="SUCCESS status mapping"
                        help-key="pipeline.config.webhook.successStatuses"
                        ng-if="displayField('successStatuses')">
      <input type="text"
             class="form-control input-sm"
             ng-model="stage.successStatuses"/>
    </stage-config-field>
    <stage-config-field label="CANCELED status mapping"
                        help-key="pipeline.config.webhook.canceledStatuses"
                        ng-if="displayField('canceledStatuses')">
      <input type="text"
             class="form-control input-sm"
             ng-model="stage.canceledStatuses"/>
    </stage-config-field>
    <stage-config-field label="TERMINAL status mapping"
                        help-key="pipeline.config.webhook.terminalStatuses"
                        ng-if="displayField('terminalStatuses')">
      <input type="text"
             class="form-control input-sm"
             ng-model="stage.terminalStatuses"/>
    </stage-config-field>
  </div>
</div>
